# Exploring Alpha Vantage API

### Imports- **Run First**

In [2]:
#open file with your API key
with open('API_Key.txt') as file:
    API_key = file.read()
API_key = API_key.strip()

In [3]:
#import libraries
from alpha_vantage.timeseries import TimeSeries

import requests
from bs4 import BeautifulSoup

import pandas as pd
import io

In [4]:
#build TimeSeries variable from Alpha Vantage API
ts1 = TimeSeries(key = API_key)

### How to put stock data into a DataFrame

#### Requests Method

In [5]:
#get weekly stock data of Apple in DataFrame format
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY&symbol=AAPL&apikey=' + str(API_key) + '&datatype=csv'
r = requests.get(url).content
data = pd.read_csv(io.StringIO(r.decode('utf-8')))

print(data)

       timestamp    open     high     low   close     volume
0     2023-10-06  171.22  177.990  170.82  177.49  260574027
1     2023-09-29  174.20  176.970  167.62  171.21  285838995
2     2023-09-22  176.48  179.695  173.86  174.79  297395196
3     2023-09-15  180.07  180.300  173.58  175.01  403746390
4     2023-09-08  188.28  189.980  173.54  178.18  305126712
...          ...     ...      ...     ...     ...        ...
1243  1999-12-10  114.56  118.000   99.00  103.00   25152800
1244  1999-12-03   94.25  115.560   93.25  115.00   28046300
1245  1999-11-26   91.75   95.500   88.50   95.06    9757600
1246  1999-11-19   89.62   94.750   88.06   92.44   13711000
1247  1999-11-12   87.75   97.730   86.75   90.62   25776200

[1248 rows x 6 columns]

In [6]:
#get head of data
data.head()

    timestamp    open     high     low   close     volume
0  2023-10-06  171.22  177.990  170.82  177.49  260574027
1  2023-09-29  174.20  176.970  167.62  171.21  285838995
2  2023-09-22  176.48  179.695  173.86  174.79  297395196
3  2023-09-15  180.07  180.300  173.58  175.01  403746390
4  2023-09-08  188.28  189.980  173.54  178.18  305126712

#### Python Package Method

In [7]:
#store Apple stock intraday data in data and meta_data variables
apple1, meta_data = ts1.get_intraday(symbol = 'AAPL')

In [8]:
#print meta_data
meta_data

{'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
 '2. Symbol': 'AAPL',
 '3. Last Refreshed': '2023-10-06 19:45:00',
 '4. Interval': '15min',
 '5. Output Size': 'Compact',
 '6. Time Zone': 'US/Eastern'}

In [9]:
#print data
data

       timestamp    open     high     low   close     volume
0     2023-10-06  171.22  177.990  170.82  177.49  260574027
1     2023-09-29  174.20  176.970  167.62  171.21  285838995
2     2023-09-22  176.48  179.695  173.86  174.79  297395196
3     2023-09-15  180.07  180.300  173.58  175.01  403746390
4     2023-09-08  188.28  189.980  173.54  178.18  305126712
...          ...     ...      ...     ...     ...        ...
1243  1999-12-10  114.56  118.000   99.00  103.00   25152800
1244  1999-12-03   94.25  115.560   93.25  115.00   28046300
1245  1999-11-26   91.75   95.500   88.50   95.06    9757600
1246  1999-11-19   89.62   94.750   88.06   92.44   13711000
1247  1999-11-12   87.75   97.730   86.75   90.62   25776200

[1248 rows x 6 columns]

In [10]:
#store data into a DataFrame
df_apple1 = pd.DataFrame(apple1).transpose().reset_index()
df_apple1.head()

                 index   1. open   2. high    3. low  4. close 5. volume
0  2023-10-06 19:45:00  177.6900  177.7800  177.6000  177.7100     14351
1  2023-10-06 19:30:00  177.5600  177.6900  177.5400  177.6900      7960
2  2023-10-06 19:15:00  177.5200  177.5800  177.5100  177.5700      3366
3  2023-10-06 19:00:00  177.5300  177.5400  177.5100  177.5300      2334
4  2023-10-06 18:45:00  177.5100  177.5700  177.4600  177.5400      3398

In [11]:
#Bring in data in DataFrame format
ts2 = TimeSeries(key = API_key, output_format = 'pandas')

In [12]:
# display new intraday stock data
ts2.get_intraday("AAPL")

(                     1. open  2. high   3. low  4. close  5. volume
 date
 2023-10-06 19:45:00  177.690  177.780  177.600   177.710    14351.0
 2023-10-06 19:30:00  177.560  177.690  177.540   177.690     7960.0
 2023-10-06 19:15:00  177.520  177.580  177.510   177.570     3366.0
 2023-10-06 19:00:00  177.530  177.540  177.510   177.530     2334.0
 2023-10-06 18:45:00  177.510  177.570  177.460   177.540     3398.0
 ...                      ...      ...      ...       ...        ...
 2023-10-05 12:00:00  173.485  173.980  173.360   173.925  1199215.0
 2023-10-05 11:45:00  173.310  173.830  173.265   173.480  1283470.0
 2023-10-05 11:30:00  173.605  173.645  173.300   173.310  1546356.0
 2023-10-05 11:15:00  173.320  173.650  173.150   173.600  1679792.0
 2023-10-05 11:00:00  173.000  173.375  172.830   173.315  1418368.0

 [100 rows x 5 columns],
 {'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
  '2. Symbol': 'AAPL',
  '3. Last Refreshed': '2023-10-06 19:45:00',
  '4. Interval': '15min',
  '5. Output Size': 'Compact',
  '6. Time Zone': 'US/Eastern'})

In [18]:
#get full amount of intraday stock data for data and meta_data
df_apple2, meta_data = ts2.get_intraday("AAPL", outputsize = "full")

In [19]:
#print meta_data
meta_data

{'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
 '2. Symbol': 'AAPL',
 '3. Last Refreshed': '2023-10-06 19:45:00',
 '4. Interval': '15min',
 '5. Output Size': 'Full size',
 '6. Time Zone': 'US/Eastern'}

In [20]:
#print data with reset index
df_apple2.reset_index()

                    date  1. open  2. high  3. low  4. close  5. volume
0    2023-10-06 19:45:00   177.69   177.78  177.60    177.71    14351.0
1    2023-10-06 19:30:00   177.56   177.69  177.54    177.69     7960.0
2    2023-10-06 19:15:00   177.52   177.58  177.51    177.57     3366.0
3    2023-10-06 19:00:00   177.53   177.54  177.51    177.53     2334.0
4    2023-10-06 18:45:00   177.51   177.57  177.46    177.54     3398.0
...                  ...      ...      ...     ...       ...        ...
1019 2023-09-15 05:00:00   176.05   176.09  175.93    176.00     8555.0
1020 2023-09-15 04:45:00   175.99   176.08  175.91    176.03    12136.0
1021 2023-09-15 04:30:00   176.10   176.30  175.93    175.99    15073.0
1022 2023-09-15 04:15:00   176.18   176.18  176.00    176.11    11856.0
1023 2023-09-15 04:00:00   176.00   176.44  176.00    176.16    17771.0

[1024 rows x 6 columns]